<section class="summaryBlock">
  <h3><span class="material-icons">
    query_builder
    </span> Hours</h3>
  <div>
    <p>Type</p>
    <p>Arbeitsid</p>
    <p>Overtid 50%</p>
  </div>

  <div class="float-right">
    <p>Duration</p>
    <p>7:30</p>
    <p>1:00</p>
  </div>
</section>

<section class="summaryBlock">
  <h3><span class="material-icons">
    attach_money
    </span> Expenses</h3>
  <div>
    <p>Type</p>
    <p>Liftleie dagpris</p>
  </div>

  <div>
    <p>Quantity</p>
    <p>2</p>
  </div>
  <div class="float-right">
    <p>Total</p>
    <p>567</p>
  </div>
</section>

<section class="summaryBlock">
  <h3> <span class="material-icons">
    update
    </span>Additional hours</h3>
  <div>
    <p>Type</p>
    <p>Liftleie dagpris</p>
  </div>
  <div class="float-right">
    <p>Amount</p>
    <p>2.5</p>
  </div>
</section>
<section class="summaryBlock">
  <h3><span class="material-icons">
    assessment
    </span> Last section</h3>
  <div>
    <p>Type</p>
    <p>Liftleie dagpris</p>
  </div>
  <div class="float-right">
    <p>Amount</p>
    <p>2.5</p>
  </div>
</section>
