.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}

.redDot {
  background-color: red;
}

.greenDot {
  background-color: green;
}

.greyDot {
  background-color: rgb(0, 0, 0, 0.6);
}

.noDot {
  color: none;
}

div {
  display: inline-block;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.selectedDay {
  background-color: #f08900;
  border-radius: 5px;
  color: white;
}
 .workHours {
  font-size: 12px !important;
  color: rgb(0, 0, 0, 0.6);
}

.today {
  border: 1px solid #f08900;
}

p {
  padding: 3px;
  font-size: 14px;
}

.daySelection {
  min-width: 37px;
}

