<div (click)="setClickedDay(day.date.getUTCDate())">
  <p>{{ dayNames[day.date.getDay()] }}</p>
  <p [ngClass]="returnDayClass(day.date.getUTCDate())">
    {{ day.date.getDate() }}
  </p>
  <div *ngIf="day.quantity; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <p>
      <span class="workHours">
        {{ mathFloor(day.quantity * 0.5) }}:{{
          (day.quantity % 2) * 30 || '00'
        }}
      </span>
    </p>
  </ng-template>
  <ng-template #elseBlock><p>-</p></ng-template>
  <spa [ngClass]="setDotClass()"></spa>
</div>
