<div (click)="calendarService.setClickedDayGlobal(day)" class="daySelection">
  <p>{{ dayNames[day.date.getDay()] }}</p>
  <p [ngClass]="setDayClass(day.date.getUTCDate())">
    {{ day.date.getDate() }}
  </p>
  <div *ngIf="day.tasksCount; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <p>
      <span class="workHours">
        {{ calcWorkTime(day.firstTaskStart, day.lastTaskEnd) }}
      </span>
    </p>
  </ng-template>
  <ng-template #elseBlock><p>-</p> </ng-template>
  <span [ngClass]="setDotClass()"></span>
</div>
