html,
body {
  height: 100% !important;
  background-color: rgb(0, 0, 0, 0.6);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.material-icons {
  font-size: 16px !important;
}

.pointer {
  cursor: pointer;
}

.grey {
  color: rgb(0, 0, 0, 0.6);
}


